.App {
  text-align: center;
}

html, body {
  padding: 0 1em 1em;
  margin: 0;
}

table {
  margin-top: 25px;
}

th {
  padding-bottom: 10px;
  border-bottom: 2px dashed #000;
}

td {
  font-size: 0.7rem;
  height: 1.5rem;
  vertical-align: middle;
  text-align: left;
}

td:first-child {
  min-width: 50px;
  font-weight: bold;
}
